/* Variables */
:root {
    --header-height: 3rem;

    /* Colors */
    --primary-color: #4a90e2;
    --secondary-color: #2ecc71;
    --title-color: #333333;
    --text-color: #707070;
    --body-color: #ffffff;
    
    /* Font */
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margins */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Reusable CSS Classes */
.section {
    padding: 2rem 0 4rem;
}

.section__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: var(--mb-2);
}

.container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.button {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.button:hover {
    background-color: var(--secondary-color);
}

/* Header */
.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/* Nav */
.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__list {
    display: flex;
    column-gap: 2rem;
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover {
    color: var(--primary-color);
}

/* Home */
.home__container {
    gap: 1rem;
}

.home__content {
    grid-column: 1/3;
    padding-top: 3.5rem;
    align-items: center;
}

.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
}

.home__subtitle {
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 5.4rem;
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
}

.home__subtitle::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    top: 1rem;
}

.home__description {
    max-width: 400px;
    margin-bottom: var(--mb-3);
}

.home__social {
    display: flex;
    column-gap: 1.25rem;
}

.home__social-link {
    font-size: 1.25rem;
    color: var(--primary-color);
}

/* About */
.about__description {
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.about__info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.about__box {
    text-align: center;
}

.about__icon {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: var(--mb-0-5);
}

.about__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.about__subtitle {
    font-size: var(--smaller-font-size);
}

/* Skills */
.skills__container {
    row-gap: 0;
}

.skills__content {
    background-color: var(--body-color);
    padding: 1.5rem;
    border-radius: 1.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}

.skills__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--primary-color);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skills__box {
    margin-bottom: var(--mb-2);
}

.skills__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: var(--mb-1);
}

.skills__data {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.skills__data i {
    font-size: 1rem;
    color: var(--primary-color);
}

/* Portfolio */
.portfolio__container {
    overflow: initial;
}

.portfolio__content {
    padding: 0 1.5rem;
}

/* Contact */
.contact__container {
    row-gap: 3rem;
}

.contact__content {
    background-color: var(--body-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}

.contact__input {
    width: 100%;
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}

/* Footer */
.footer {
    padding-top: 2rem;
    background-color: var(--primary-color);
    color: #fff;
}

.footer__container {
    row-gap: 3.5rem;
}

.footer__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer__social {
    display: flex;
    column-gap: 1.25rem;
}

.footer__social-link {
    font-size: 1.25rem;
    color: #fff;
}

.footer__copy {
    font-size: var(--smaller-font-size);
    text-align: center;
    color: #fff;
    margin-top: 3rem;
}

/* Scroll up */
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: 5rem;
    background-color: var(--primary-color);
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup:hover {
    background-color: var(--secondary-color);
}

.scrollup__icon {
    font-size: 1.5rem;
    color: #fff;
}

/* Responsive */
@media screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .section {
        padding: 6rem 0 2rem;
    }

    .section__title {
        margin-bottom: 4rem;
    }

    .header {
        top: 0;
        bottom: initial;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav__toggle {
        display: none;
    }

    .nav__list {
        display: flex;
        column-gap: 2rem;
    }

    .home__content {
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .home__social {
        justify-content: center;
    }

    .footer__container {
        grid-template-columns: repeat(3, 1fr);
    }
}
